// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

html, body {
  margin: 0;
  padding: 0;
}
.node {
  fill: #9ecae1;
}
.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 2px;
}
.ant {
  fill: #ff0000;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
